.courses-background {
  background-attachment: fixed;
  background-image: url('../img/courses_background.jpg');
  background-size: cover;
  height: 30em;
  height: calc(100vh - 300px);
  opacity: .9;
  width: 100%;
}

.cover {
  margin-bottom: 3em 0 1em 0;
  text-align: center;
}

.cover i {
  color: #B8B9C2;
  font-size: 4em;
  opacity: .3;
}

.cover h4 {
  color: #555;
  font-family: 'Pacifico', cursive;
  font-size: 1.8em;
  padding-top: .5em;
}

.cover p {
  color: #727378;
  font-family: 'Karla', sans-serif;
  font-size: 1.2em;
  padding-top: 1em;
}

.content, .aside-info, .price {
  color: #707070;
  font-family: 'Karla', sans-serif;
}

.cube {
  background-color: #eaeaed;
  border: 5px solid #FFF;
  font-weight: 700;
  height: 6em;
  padding: 1em;
  text-align: center;
}

.center {
  background-color: #f852a4;
}

.center p {
  color: #FFF;
  font-size: 1.2em;
}

.course-info {
  padding-top: 2em;
}

.aside-info {
  border-bottom: 2px solid #eeeeee;
  border-top: 2px solid #eeeeee;
  color: black;
  font-size: 1.2em;
  margin-top: 2em;
  padding: 1em;
  text-align: justify;
}

@media (min-width: 992px) {
  .cube {
    height: 4em;
  }
}
