.jumbotron.jumbotron-fluid {
  background-image: url('../img/mobile.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.jumbotron h4 {
  font-family: 'Catamaran', sans-serif;
  font-size: 2em;
  color: #3D313D;
}

.jumbotron h6 {
  padding: 1em 0 0 0;
  font-family: 'Roboto Slab', serif;
  font-size: 1.5em;
  color: #2F2F2F;
}

.jumbotron p {
  padding-top: 1em;
  font-size: 1.2em;
  font-family: 'Catamaran', sans-serif;
  text-align: justify;
  color: #4C4C4C;
}

.content, .aside-info, .details, .price {
  font-family: 'Catamaran', sans-serif;
  font-size: 1.2em;
  color: #707070;
}

.course-info {
  padding-top: 2em;
}

.course-info ul {
  padding-left: 0;
}

.course-info li {
  list-style: none;
  padding-bottom: .3em;
}

.arrow {
  color: #C5759B;
}

.aside-info {
  text-align: justify;
}

.price {
  border: 1px solid #C5759B;
  width: 8em;
  text-align: center;
  padding: .3em;
}

.details {
  text-align: center;
}

.details a {
  text-decoration: none;
  color: #C5759B;
}

.details a:hover {
  text-decoration: none;
  color: #C5759B;
  opacity: 0.5;
  transition: all .5s
}

.bold {
  font-weight: 600;
}

@media (min-width: 768px) {
  .content {
    border-right: 2px solid #B2B2B2;
  }

  .aside-info {
    padding-left: 2em;
  }

  .price {
    margin-left: 2em;
  }
}

@media (min-width: 1200px) {
  .jumbotron.jumbotron-fluid {
    background-image: url('../img/img.png'), url('../img/mobile.jpg');
    background-size: auto 130%, cover;
    background-position: center left, center center;
  }
}
