footer {
  background-color: #ece7eb;
  width: 100%;
}

.social {
  padding-top: .4em;
  text-align: center;
}

.social a {
  font-size: 1.8em;
  color: #3d4542;
  padding-right: 1em;
  transition: all .5s
}

.social a:hover {
  text-decoration: none;
  color: #d4a2a9;
}

.copyright {
  font-size: 1em;
  color: #3d4542;
  text-align: center;
  padding-top: .2em;
}
