.image {
  max-width: 100%;
  box-shadow: 0px 8px 32px 0px rgba(0, 0, 0, 0.3);
  transition: all 200ms ease-in-out;
}

.image:hover {
  transform: scale(1.5);
}

.gallery-container {
  margin: 2em 0 3em 0;
}

@media (min-width: 576px) {
  .image {
    width: calc(540px / 2 - 15px);
  }
}

@media (min-width: 768px) {
  .image {
    width: calc(720px / 2 - 15px);
  }
}

@media (min-width: 992px) {
  .image {
    width: calc(960px / 3 - 15px);
  }
}

@media (min-width: 1200px) {
  .image {
    width: calc(1140px / 3 - 15px);
  }
}
