.site-nav {
  color: black;
  list-style-type: none;
  position: fixed;
  overflow: hidden;
  top: 0;
  right: -700px;
  width: 700px;
  height: 100%;
  transition: right .6s cubic-bezier(0.190, 1.000, 0.220, 1.000);
  opacity: .7;
  background-color: #dc6d8e;
  z-index: 1001;
}

.js-site-nav--open {
  right: 0;
}

.site-nav ul li {
  list-style: none;
  padding-top: 1em;
  font-family: 'Karla', sans-serif;
  font-size: 3em;
  font-weight: 600;
  text-align: end;
  padding-right: 1em;
}

.site-nav ul li:first-child {
  padding-top: 4em;
}

.site-nav ul li a {
  color: #FFF;
  text-decoration: none;
}

.site-nav ul li a:hover {
  color: #FFF;
  opacity: .4;
  transition: all .5s;
  text-decoration: none;
}

.nav-btn {
  background-color: transparent;
  position: fixed;
  top: 20px;
  right: 20px;
  border: 0;
  outline: 0;
  position: fixed;
  width: 40px;
  height: 40px;
  z-index: 1001;
}

.nav-btn:hover {
  cursor: pointer;
  color: #aaa;
}

.nav-btn-line {
  width: 30px;
  height: 3px;
  background-color: #aaa;
  display: block;
  margin: 5px auto;
}
