.cards {
  padding: 0;
  background-color: #292929;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about h1 {
  color: #d4a2a9;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.about h4 {
  font-family: 'Vollkorn', serif;
  font-size: 1.5em;
  color: silver;
  text-align: center;
  font-style: italic;
}

@media (min-width: 992px) {
  .about p, ul li {
    font-size: 1.5em;
  }

  .about h1 {
    font-size: 4em;
  }
}
