.full-background {
  background-image: url('../img/home_background.jpg');
  width: 100%;
  height: 30em;
  height: 100vh;
  opacity: .9;
  background-attachment: fixed;
  background-size: cover;
}

.about h1, h4 {
  padding-top: 1em;
  font-size: 2em;
  border-bottom: 1px solid #aaa;
  font-family: 'Alegreya Sans', sans-serif;
  font-weight: 600;
  color: #3d4542;
  text-transform: uppercase;
}

.about p span {
  font-weight: 600;
  color: #3d4542;
  font-size: 1.2em;
}

.about p {
  color: #555;
  font-size: 1em;
  font-family: 'Catamaran', sans-serif;
  padding-right: 1.1em;
}

.about p a {
  text-decoration: none;
  color: #000;
}

.about p a:hover {
  color: #555;
  transition: all 2s;
}

.cards {
  margin-bottom: 4em;
  padding-right: 10em;
  padding-left: 10em;
}

.cards .row {
  margin-top: 3em;
}

@media (min-width: 992px) {
  .about h1, h4 {
    margin-left: 2em;
    font-size: 3em;
  }

  .about p span {
    font-size: 1.3em;
  }

  .about p {
    font-size: 1.1em;
  }

  .about p:first-child {
    margin-top: 5.4em;
  }
}
