.cards {
  padding-left: 0;
  padding-right: 0;
  background-color: #292929;
}

.panel-right-top,
.panel-left-bottom {
  background-size: cover;
}

.panels-top {
  height: 100vh;
}

.panel-left-bottom {
  height: calc(50vh - 49.335px)
}

.panel-right-bottom {
  height: calc(50vh - 49.335px)
}

.panel-right-top {
  background-image: url('../img/work02.jpg');
}

.panel-left-top,
.panel-right-bottom,
.panel-left-bottom {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.panel-left-top h1 {
  color: #d4a2a9;
  font-family: 'Alegreya Sans SC', sans-serif;
  font-size: 4em;
  text-transform: uppercase;
  font-weight: 700;
  text-align: center;
}

.panel-left-top h4 {
  font-family: 'Vollkorn', serif;
  font-size: 1.5em;
  color: silver;
  text-align: center;
  font-style: italic;
}

.panel-left-bottom {
  background-image: url('../img/work01.jpg');
}

.panel-right-bottom article {
  width: 60%;
}

.panel-right-bottom p {
  color: #aaa;
  font-family: 'Karla', sans-serif;
  font-size: 1.1em;
  text-align: left;
  line-height: 1.7em;
}

.panel-right-bottom span {
  font-weight: 700;
  color: silver;
}

.panel-left-bottom img {
  width: 20em;
}

@media (min-width: 768px) {
  .panel-right-bottom,
  .panel-left-bottom {
    height: calc(100vh - 49.578px)
  }

  .panel-right-top,
  .panel-left-bottom {
    background-position: center center;
  }
}

