<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>{{ page.title }}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">

  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300|Catamaran:300|Roboto+Slab:100" rel="stylesheet">

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">

  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <link rel="stylesheet" href="{{ site.github.url }}/css/main.css">

  <!-- page specific stylesheets -->
  {% for stylesheet in page.stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet | prepend: site.github.url }}">
  {% endfor %}


  <script src="{{ site.github.url }}/js/main.js"></script>
</head>
<body>
  <header>
    <div class="container-fluid menu">
      <div class="logo">
        <a href="stivaliserna.github.io/hayanar/">HAYANA RICHANI</a>
      </div>
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link" href="#">BIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="courses/">CURSOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GALERÍA</a>
        </li>
      </ul>
    </div>
  </header>

  {{ content }}

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-2 info">
          <p id="location"><i class="fa fa-map-marker" aria-hidden="true"></i></p>
            <p>Maracay, Venezuela</p>
        </div>
        <div class="col-12 col-md-4 col-lg-2 info">
          <p id="phone"><i class="fa fa-phone" aria-hidden="true"></i></p>
          <p>+58 412 657 89 09</p>
        </div>
        <div class="col-12 col-md-4 col-lg-2 info">
          <p id="email"><i class="fa fa-envelope-o" aria-hidden="true"></i></p>
          <p class="mail"><a href="mailto:makeupbyhayana@gmail.com">email me</a></p>
        </div>
        <div class="col-12 col-md-12 col-lg-6 social">
          <a href="https://www.instagram.com/makeupby.hr/"><i class="fa fa-instagram" aria-hidden="true"></i></a>
          <a href="https://www.facebook.com/hayana.richani"><i class="fa fa-facebook-square icons social" aria-hidden="true"></i></a>
          <a href="https://twitter.com/HayaRC"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-12 col-lg-6"></div>
        <div class="col-12 col-sm-12 col-lg-6">
          <p class="copyright">Copyright © 2017. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

</body>
</html>
