<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<title>{{ page.title }}</title>

  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link href="//fonts.googleapis.com/css?family=Alegreya+Sans+SC|Catamaran|Karla" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.github.url }}/css/icons.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/main.css">
  <!-- page specific stylesheets -->
  {% for stylesheet in page.stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet | prepend: site.github.url }}">
  {% endfor %}

</head>
<body>
  <nav class="navbar fixed-top sticky-menu navbar-toggleable-md">
    <button class="nav-btn nav-btn-toggler">
      <span class="icon-menu"></span>
    </button>
    <nav class="site-nav js-site-nav" tabindex="-1" role="navigation">
      <ul class="nav-menu">
        <li>
          <a class="nav-item js-nav-item" href="{{ site.github.url }}">Home</a>
        </li>
        <li>
          <a class="nav-item js-nav-item" href="{{ site.github.url }}/about/">Bio</a>
        </li>
        <li>
          <a class="nav-item js-nav-item" href="{{ site.github.url }}/courses/">Cursos</a>
        </li>
        <li>
          <a class="nav-item js-nav-item" href="{{ site.github.url }}/services/">Servicios</a>
        </li>
        <li>
          <a class="nav-item js-nav-item" href="#">Galería</a>
        </li>
      </ul>
      <button class="nav-btn-remove">
        <span><i class="icon-cross"></i></span>
      </button>
    </nav>
  </nav>

  {{ content }}

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-7 social">
          <a href="//www.instagram.com/makeupby.hr/"><i class="icon-instagram" aria-hidden="true"></i></a>
          <a href="//twitter.com/HayaRC"><i class="icon-twitter" aria-hidden="true"></i></a>
          <a href="mailto:makeupbyhayana@gmail.com" target="blank"><i class="icon-gmail" aria-hidden="true"></i></a>
        </div>
        <div class="col-12 col-md-5 social">
          <p class="copyright">Copyright © 2017. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="//code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>
  <script src="//cdn.rawgit.com/alicelieutier/smoothScroll/f07120e0/smoothscroll.min.js" defer></script>

  <!-- page specific scripts -->
  {% for script in page.scripts %}
  <script src="{{ script | prepend: site.github.url }}" defer></script>
  {% endfor %}

</body>
</html>
