<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">

	<title>{{ page.title }}</title>

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/css/bootstrap.min.css" integrity="sha384-rwoIResjU2yc3z8GV/NPeZWAv56rSmLldC3R/AZzGRnGxQQKnKkoFVhFQhNUwEyJ" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/css?family=Alegreya+Sans:300|Catamaran:300|Droid+Serif" rel="stylesheet">
  <link rel="stylesheet" href="{{ site.github.url }}/css/icons.css">
  <link rel="stylesheet" href="{{ site.github.url }}/css/main.css">
  <!-- page specific stylesheets -->
  {% for stylesheet in page.stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet | prepend: site.github.url }}">
  {% endfor %}

</head>
<body>
  <nav class="navbar navbar-toggleable-md sticky-menu">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#toggler" aria-expanded="false"  >
      <span><i class="fa fa-bars" aria-hidden="true"></i></span>
    </button>

    <div class="collapse navbar-collapse justify-content-md-end" id="toggler">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link" href="#">BIO</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ site.github.url }}/courses/">CURSOS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">GALERÍA</a>
        </li>
      </ul>
    </div>
  </nav>

  {{ content }}

  <footer>
    <div class="container-fluid">
      <div class="row">
        <div class="col-12 col-md-7 social">
          <a href="https://www.instagram.com/makeupby.hr/"><i class="icon-instagram" aria-hidden="true"></i></a>
          <a href="https://twitter.com/HayaRC"><i class="icon-twitter" aria-hidden="true"></i></a>
          <a href="mailto:makeupbyhayana@gmail.com"><i class="icon-gmail" aria-hidden="true"></i></a>
        </div>
        <div class="col-12 col-md-5 social">
          <p class="copyright">Copyright © 2017. All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>

  <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.4.0/js/tether.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js" integrity="sha384-vBWWzlZJ8ea9aCX4pEW3rVHjgjt7zpkNpZk+02D9phzyeVkE+jo0ieGizqPLForn" crossorigin="anonymous"></script>

  <!-- page specific scripts -->
  {% for script in page.scripts %}
  <script src="{{ script | prepend: site.github.url }}"></script>
  {% endfor %}

</body>
</html>
